@{
  Layout = "_Layout";
}

<table style="width=100%">
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Delete Course</th>
    <th>Update Student Record</th>
  </tr>
  @foreach(var course in Model)
  {
    <tr>
      <td>@course.GetId()</td>
      <td><a href="/course-roster/@course.GetId()">@course.GetCourseName()</a></td>
      <td><a href="/delete-course/@course.GetId()">Delete Course</a></td>
      <td><a href="/update-course/@course.GetId()">Update Course Info</a></td>
    </tr>
  }
</table>

<h3>Add new course</h3>
<form action="/create-course" method="post">
  <div class="form-group">
    <label for="course-name">Enter course name</label>
    <input id="course-name" name="course-name" class="form-control" type="text" required>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
