@{
  Layout = "_Layout";
}

<h1>Welcome to the University Registrar's page</h1>

<h3>What would you like to do?</h3>
<ul>
  <li><a href="/view-add-student">View a list of all students and add a new student</a></li>
  <li><a href="/view-add-course">View a list of all courses and add a new course</a></li>
  <li><a href="/add-course-to-student">Add a new course to a specific student</a></li>
  <li><a href="/add-student-to-course">Add a new student to a specific course</a></li>
</ul>
